## C6M2L2 Item 07 – Performing different JOIN operations in MySQL database using python

## Prerequisites 

To complete this exercise, you must have access to the `little_lemon` database. You need to import MySQL Python/Connector and, as an authorized user, establish a connection between Python and the MySQL database via connector API using the following code:

In [1]:
import mysql.connector as connector

In [2]:
# Establish connection b/w Python and MySQL database via connector API
connection=connector.connect(
                             user="root", # use your own
                             password="", # use your own
                            )

Once, the connection is established, create a `cursor` object to communicate with the entire MySQL database from your python working environment.

In [3]:
# Create cursor object to communicate with entire MySQL database
cursor = connection.cursor()

Now, you can select the database `little_lemon` using the code below and work with the respective tables to accomplish the required tasks.

In [4]:
# Set little_lemon database for use 
cursor.execute("use little_lemon")

# Confirm the database in use
connection.database

'little_lemon'

## Scenario 

Little Lemon needs to carry out the following tasks with their datasets: 

* Determine the final bill amount for each customer who attended the restaurant today 
* Identify the type of cuisine that each item in their menu belongs to. 

Help Little Lemon to complete these tasks using “JOIN” operations on the restaurant’s MySQL database using Python.

## Task 1:

Little Lemon need the following information for each of the items in their menu: 

* The name of each item in the menu, 
* Each menu item’s type, 
* Each menu item’s cuisine, 
* and the price of each item in the menu. 

Help Little Lemon to extract this data from their database using Python. 

**TIP:** You need to combine records from the `MenuItems` and `Menu` tables using the `JOIN` operation and show only the requested columns in the output.

In [5]:
# Task 1

# The SQL query is:
join_query="""SELECT 
MenuItems.Name AS Item_Name, 
MenuItems.Type AS Item_Type, 
Menus.Cuisine AS Cuisine, 
MenuItems.Price AS Price 
FROM MenuItems 
INNER JOIN Menus ON MenuItems.ItemID=Menus.ItemID;"""

# Execute query
cursor.execute(join_query)

# Fetch records 
results = cursor.fetchall()

# Retrieve column names
columns = cursor.column_names

# Print column names
print(columns)

# Print query results
for result in results:
    print(result)

('Item_Name', 'Item_Type', 'Cuisine', 'Price')
('Olives', 'Starters', 'Greek', 5)
('Greek salad', 'Main Courses', 'Greek', 15)
('Greek yoghurt', 'Desserts', 'Greek', 7)
('Athens White wine', 'Drinks', 'Greek', 25)
('Minestrone', 'Starters', 'Italian', 8)
('Pizza', 'Main Courses', 'Italian', 15)
('Cheesecake', 'Desserts', 'Italian', 4)
('Turkish Coffee', 'Drinks', 'Italian', 10)
('Falafel', 'Starters', 'Turkish', 7)
('Ice cream', 'Desserts', 'Turkish', 6)
('Turkish Coffee', 'Drinks', 'Turkish', 10)
('Kabasa', 'Main Courses', 'Turkish', 17)

## Task 2:

Little Lemon notice that there are several menu items missing from the output of the previous task. 

Help Little Lemon to identify these missing items by using a `JOIN` operation in Python to return data for the missing records. 

**TIP:** Use a `JOIN` operation to return the missing data by joining the `MenuItems` and Menu tables.

In [6]:
# Task 2
# Good to specify column from the table
# Try left, right, inner

# The SQL query is:
join_query="""SELECT 
MenuItems.Name AS Item_Name, 
MenuItems.Type AS Item_Type, 
Menus.Cuisine AS Cuisine, 
MenuItems.Price AS Price 
FROM MenuItems 
LEFT JOIN Menus ON MenuItems.ItemID=Menus.ItemID
WHERE Cuisine IS NULL;"""

# Execute query
cursor.execute(join_query)

# Fetch records 
results = cursor.fetchall()

# Retrieve column names
columns = cursor.column_names

# Print column names
print(columns)

# Print query results
for result in results:
    print(result)

('Item_Name', 'Item_Type', 'Cuisine', 'Price')
('Flatbread', 'Starters', None, 5)
('Tomato bread', 'Starters', None, 8)
('Hummus', 'Starters', None, 5)
('Bean soup', 'Main Courses', None, 12)
('Corfu Red Wine', 'Drinks', None, 30)

## Task 3:

Little Lemon restaurant need you to help them retrieve the following information from the `Bookings` and the `Orders` tables in their MySQL database using Python: 

* Booking ID 
* Table number 
* Guest first name 
* Server ID 
* Bill amount  

**TIP:** Combine the records from the `Bookings` and the `Orders` tables using a `JOIN` operation. The requested column `ServerID` is the `EmployeeID` column in the `Booking` table. Create an alias for this purpose.

In [7]:
# Task 3

# The SQL query is:
join_query="""SELECT 
Bookings.BookingID,
Bookings.TableNo,
Bookings.GuestFirstName,
Bookings.EmployeeID AS ServerID,
Orders.BillAmount
FROM Bookings
LEFT JOIN Orders ON Bookings.BookingID = Orders.BookingID;
"""

# Execute query
cursor.execute(join_query)

# Fetch records 
results = cursor.fetchall()

# Retrieve column names
columns = cursor.column_names

# Print column names
print(columns)

# Print query results
for result in results:
    print(result)

('BookingID', 'TableNo', 'GuestFirstName', 'ServerID', 'BillAmount')
(1, 12, 'Anna', 1, 86)
(2, 12, 'Joakim', 1, 37)
(3, 19, 'Vanessa', 3, 37)
(4, 15, 'Marcos', 4, 40)
(5, 5, 'Hiroki', 2, 43)
(6, 8, 'Diana', 5, None)

In [8]:
# Let's close the cursor and the connection
if connection.is_connected():
    cursor.close()
    print("The cursor is closed.")
    connection.close()
    print("MySQL connection is closed.")
else:
    print("Connection is already closed")

The cursor is closed.
MySQL connection is closed.