## C6M3L1 Item 05 – Utilizing MySQL functions using python

## Prerequisites: 

To complete this exercise, you must have access to the `little_lemon` database. As an authorized user, you need to establish a connection between Python and the database via the MySQL Connector/Python API and create a `cursor` object using the following code:

In [1]:
import mysql.connector as connector

In [2]:
# Establish connection b/w Python and MySQL database via connector API
connection=connector.connect(
                             user="root", # use your own
                             password="", # use your own
                            )

In [3]:
# Create cursor object to communicate with entire MySQL database
cursor = connection.cursor()

Once, the connection is established, and you have a cursor object, you can select the database `little_lemon` using the code below and work with the respective table to accomplish the required tasks.

In [4]:
#cursor.execute("use little_lemon")

In [5]:
# Set little_lemon for use 
cursor.execute("use little_lemon")

# Confirming
connection.database

'little_lemon'

## Scenario: 

There are several occasions where Little Lemon needs to perform routine operations, some of them include, total sales, the total number of guests, the number of items in each cuisine, the full name of the guests, and so on. These are only a few examples and writing queries again and again for such routine tasks is not trivial. You can help Little Lemon to handle such tasks using MySQL functions in their python-based application.

## Task 1:

Along with the booking ID, little lemon needs to add the full name of the guests in upper case on their invoices. Help little lemon to extract the data in the required format.  

TIP: Target `GuestFistName`, `GuestLastName` and combine them to get `GuestFullName`.

In [6]:
# Task 1
#SELECT GuestFirstName, GuestLastName,

# The SQL query is:
sql_query="""
SELECT 
BookingID AS ID,
UPPER(CONCAT(GuestFirstName,' ',GuestLastName)) 
AS GuestFullName 
FROM bookings;"""

# Execute query
cursor.execute(sql_query)

# Fetch records 
results = cursor.fetchall()

# Retrieve column names
columns = cursor.column_names

# Print column names
print(columns)

# Just add an empty line using print statement
print()

# Print query results
for result in results:
    print(result)

('ID', 'GuestFullName')

(1, 'ANNA IVERSEN')
(2, 'JOAKIM IVERSEN')
(3, 'VANESSA MCCARTHY')
(4, 'MARCOS ROMERO')
(5, 'HIROKI YAMANE')
(6, 'DIANA PINTO')

## Task 2:

Little lemon needs to know the following statistics at closing: 

* Number of bookings 
* Total sale 
* Average sale 

Help little lemon to compute the required statistics from the data in the “Orders” table using python. 

**TIP:** Target “BookingID” and “BillAmount” columns in the “Orders” table and use MySQL built-in functions to compute the required statistics. Once, you grab the results, use the following python code to print the required output.  

```Python
print("Today's statistics:") 
for result in results: 
    print("Number of bookings:",result[0]) 
    print("Total sale:",result[1]) 
    print("Average sale:",result[2]) 
```

In [7]:
# Task 2

# The SQL query is:
sql_query="""
SELECT 
COUNT(BookingID) AS n_bookings,
SUM(BillAmount) AS Total_sale,
AVG(BillAmount) AS Avg_sale
FROM Orders;"""

# Execute query
cursor.execute(sql_query)

# Fetch records
results=cursor.fetchall()

# Print results
print("Today's statistics:")
for result in results:
    print("Number of bookings:",result[0])
    print("Total sale:",result[1])
    print("Average sale:",result[2])

Today's statistics:
Number of bookings: 5
Total sale: 243
Average sale: 48.6000

## Task 3:

Little lemon needs to know the number of bookings for each table. Please help them to print the table number and the number of bookings for each table.  

**TIP:** Target `TableNo` column in the booking table, count the number of bookings for each table, and group the data. Print the results in descending order.

In [8]:
# Task 3

# The SQL query is:
sql_query="""SELECT 
TableNo AS 'Table number', 
COUNT(TableNo) AS n_booking
FROM Bookings 
GROUP BY TableNo 
ORDER BY n_booking DESC;"""

# Execute query
cursor.execute(sql_query)

# Fetch records 
results = cursor.fetchall()

# Retrieve column names
columns = cursor.column_names

# Print column names
print(columns)

# Print query results
for result in results:
    print(result)

('Table number', 'n_booking')
(12, 2)
(19, 1)
(15, 1)
(5, 1)
(8, 1)

## Task 4:

Little lemon wants to create three arrival slots for the guests based on the booking hour: 

* Late afternoon: for hours 15 and 16  
* Evening: for hours 17 and 18 
* Night: for hours 19 and 20 

Help little lemon to create the above slots and display the booking ID, guest name, and arrival slot on the kitchen screen so that the staff can plan accordingly.  

**TIP:** Target `GuestFistName` and `GuestLastName` columns and combine them to get `Guest_Name`. Use the MySQL `CASE` function and create `Arrival_slot` for each guest.

In [9]:
# Task 4

# The SQL query is:
sql_query="""
SELECT
BookingID,
CONCAT(GuestFirstName,' ',GuestLastName) AS Guest_Name,

CASE
WHEN HOUR(BookingSlot) IN (15,16) THEN "Late afternoon" 
WHEN HOUR(BookingSlot) IN (17,18) THEN "Evening" 
WHEN HOUR(BookingSlot) IN (19,20) THEN "Night"
ELSE "Time not available" 
END AS Arrival_slot

FROM Bookings;"""

# Execute query
cursor.execute(sql_query)

# Fetch records 
results = cursor.fetchall()

# Retrieve column names
columns = cursor.column_names

# Print column names
print(columns)

# Print query results
for result in results:
    print(result)

('BookingID', 'Guest_Name', 'Arrival_slot')
(1, 'Anna Iversen', 'Night')
(2, 'Joakim Iversen', 'Night')
(3, 'Vanessa McCarthy', 'Late afternoon')
(4, 'Marcos Romero', 'Evening')
(5, 'Hiroki Yamane', 'Evening')
(6, 'Diana Pinto', 'Night')

In [10]:
# Let's close the cursor and the connection
if connection.is_connected():
    cursor.close()
    print("The cursor is closed.")
    connection.close()
    print("MySQL connection is closed.")
else:
    print("Connection is already closed")

The cursor is closed.
MySQL connection is closed.